# Format of this file is YAML
# Minimum clang-format version required: clang-format version 3.6.0
# Detailed description of options available at http://clang.llvm.org/docs/ClangFormatStyleOptions.html

AlignEscapedNewlinesLeft: true
# Bad:
# void foo() {
#        someFunction();
#  someOtherFunction();
# }
# Good:
# void foo() {
#    someFunction();
#    someOtherFunction();
# }

AlignTrailingComments: true
# Align all comments to right based of //
# == Avoid using // based comments altogether ==

AllowAllParametersOfDeclarationOnNextLine: true
# Allow funtion definition as
# someFunction(foo,
#             bar,
#             baz);

AlignConsecutiveAssignments:  true
# Align consecutive assignments with '=' operator

AllowShortBlocksOnASingleLine: true
# Single statement block can be merged on one line
# e.g.
# if (a) { return; }

AllowShortCaseLabelsOnASingleLine: false
# Single statement case statements should be on their own lines

AllowShortFunctionsOnASingleLine: None
# Bad:
# int foo() { return 123; }

AllowShortIfStatementsOnASingleLine: false
# Bad:
# if (someOtherVar) return;
# Good:
# if (someOtherVar)
#     return;

AllowShortLoopsOnASingleLine: false
# Bad:
# while(i>0) i--;
# Good:
# while(i>0) {
#         i--;
#     }

AlwaysBreakAfterDefinitionReturnType: true
# Ensure return type is on its own line
# e.g.
# unsigned int
# function(char param) { }

AlwaysBreakBeforeMultilineStrings: true
# Multiline strings should begin on new line

BinPackArguments: true
BinPackParameters: false
# Function arguments should either be on one line, or have a single line for each param

BreakBeforeBinaryOperators: None
# Break for new line after binary operator if line exceeds ColumnLimit
# e.g.
# int foo = bar +
#           baz;

BreakBeforeBraces: Linux
# Always attach braces to surrounding context except -
# break before braces on function, namespace, and class definitions

ColumnLimit: 132
# Everybody has a wide screen now, so 132 seems a reasonable limit.

IndentCaseLabels: false
# Case labels have same indentation as switch statement.

IndentWidth: 4
# 4 spaces for indentation
TabWidth: 4
# Tab width is 4 spaces

UseTab: ForIndentation
# Tab for indentation only. All alignment should happen with spaces.
# Simple rule to check; no tabs allowed after first 'non-tab' character in a line

IndentWrappedFunctionNames: false
KeepEmptyLinesAtTheStartOfBlocks: false
# Remove excess empty lines at start of blocks.

PointerAlignment: Middle

SpaceAfterCStyleCast: false
# No space after (cast).
# e.g.
# int blah = (int)((void *)foo + bar)

SpaceBeforeAssignmentOperators: true
# Assignment = should be seperated by spaces on both sides.

SpaceBeforeParens: ControlStatements
# For control statements, a space must precede '('
# Bad: for() { statement; }
# Good: for () { statement; }
# This setting distinguishes functions() from keywords like 'if' and 'for'.

SpaceInEmptyParentheses: false
# No spaces required for empty ()

SpacesInCStyleCastParentheses: false
# No spaces required for (unsigned int) type cast

SpacesInParentheses: false
# No spaces after '(' or before ')'

SpacesInSquareBrackets: false
# No spaces after '[' or before ']'
