<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2015 Apple Inc. All rights reserved.</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>IOKitPersonalities</key>
	<dict>
                <key>testthreadcall</key>
                <dict>
                        <key>CFBundleIdentifier</key>
                        <string>com.apple.driver.${PRODUCT_NAME:identifier}</string>
                        <key>IOClass</key>
                        <string>testthreadcall</string>
                        <key>IOMatchCategory</key>
                        <string>testthreadcall</string>
                        <key>IOProviderClass</key>
                        <string>IOResources</string>
                        <key>IOResourceMatch</key>
                        <string>IOKit</string>
                </dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.iokit</key>
		<string>11.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>11.0</string>
		<key>com.apple.kpi.mach</key>
		<string>11.0</string>
		<key>com.apple.kpi.private</key>
		<string>11.0</string>
	</dict>
</dict>
</plist>
